body {
    min-width: 800px;
    color: #666666;
}

.flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w100 {
    width: 100%;
}

.nav-icon {
    font-size: 22px;
    color: #666666;
}

.mb8 {
    margin-bottom: 8px;
}

.justify-end {
    display: flex;
    justify-content: end;
}
.items-center {
    display: flex;
    align-items: center;
}


.tablePage-style {

    border-radius: 20px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .table-nav {
        background: var(--table-bg);
        margin-bottom: 20px;
        padding: 20px 20px 0 20px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;

        .ant-row {
            width: 100%;
        }

        .ant-picker {
            width: 100%;
        }

        &>div,
        button {
            margin-right: 10px;
            margin-bottom: 20px;
        }

        .search-style-input {
            min-width: 200px;
        }

        .ant-tag {
            display: flex;
        }

        .tags-style-text {
            max-width: 200px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .table-style {
        padding: 20px;
        background: var(--table-bg);
        border-radius: 10px;
        flex: 1;
        overflow-y: auto;
    }

}

.table-style-columnsCheckbox {
    margin: 10px 5px;
}

.input-heigth {
    height: 40px;
}

.input-width100 {
    width: 100%;
}

.search-button-right {
    margin-right: 20px;
}

.no-limits-icon {
    margin-top: 30px;
    height: 80px;
    font-size: 48px;
}

.no-limits-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.search-style {
    display: flex;
    align-items: center;
    line-height: 32px;
    border: 1px solid #dcdee2;
    border-radius: 5px;
    padding: 0 5px;
    white-space: nowrap;

    .tags-style {
        margin: 0 5px;
        display: flex;
    }

    .input-text {
        font-size: 14px;
        color: #666666;
    }

}

.operation-style {

    .operation-style-button {
        padding: 0;
        margin-right: 10px;
    }
}

.pop-button {
    display: flex;
    justify-content: end;
}

.ant-dropdown-link{
    width: 30px;
}
.flex-1{
    flex: 1;
}
