body {
    min-width: 800px;
}

.flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w100 {
    width: 100%;
}

.nav-icon {
    font-size: 22px;
    color: #666666;
}

.mb8 {
    margin-bottom: 8px;
}

.justify-end {
    display: flex;
    justify-content: end;
}

.tablePage-style {
    background: var(--table-bg);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .table-nav {
        margin-bottom: 20px;

        .ant-row {
            width: 100%;
        }

        // .ant-col {
        //     margin-bottom: 10px;
        // }
        .ant-picker {
            width: 100%;
        }
    }

    .table-style {
        flex: 1;
    }
}

.input-heigth {
    height: 40px;
}

.input-width100 {
    width: 100%;
}

.search-style {
    padding: 8px;

    .search-input {
        width: 188px;
        margin-bottom: 10px;
    }

    .search-button {
        display: flex;
        justify-content: space-between;

        button {
            width: 40%;
        }
    }
}