html[data-theme='theme-light'] {
    --theme-content-bg: #FAFAFA;
    --theme-bg: #ffffff;
    --theme-border-color: #F1F3F4;
    --table-bg:#ffffff;
    .a-sider {
        background: #fff;
    }
}

html[data-theme='theme-dark'] {
    --theme-content-bg: #292A2A;
    --theme-bg: #101C29;
    --table-bg:#242525;
}